<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>Team | Zairza</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
          screens: {
            xl: { max: "1279px" },
            lg: { max: "1023px" },
            md: { max: "768px" },
            sm: { max: "639px" },
          },
        },
      };
    </script>
  </head>
  <body id="main">
    <%- include('../partials/firebase.ejs') %>

    <main class="relative mb-24">
      <nav id="mob-menu" class="fixed flex hidden z-40 w-full">
        <div class="w-1/2 h-screen layer block md:hidden"></div>
        <ul
          class="
            list-none
            p-12
            text-white
            pt-32
            pl-24
            text-2xl
            bg-blue-500
            h-screen
            w-1/2
            md:w-full md:px-12
          "
        >
          <li class="py-4"><a href="/">Home</a></li>
          <% if(data.loggedIn){ %>
          <li class="py-4"><a href="/projects">Projects</a></li>
          <% } %>
          <li class="py-4">
            <a rel="”noreferrer”" href="https://blog.zairza.in/">Blogs</a>
          </li>
          <li class="py-4"><a href="/about">About Us</a></li>
          <li class="py-4"><a href="/team">Members</a></li>
          <% if(data.loggedIn){ %>
          <li class="py-4"><a href="/me">Dashboard</a></li>
          <li class="py-4"><a href="#" onclick="logout()">Sign Out</a></li>
          <% } else { %>
          <li class="py-4"><a href="/auth#signin">Log In</a></li>
          <li class="py-4"><a href="/auth#signup">Sign Up</a></li>
          <% } %>
          <li class="flex mt-5">
            <a
              rel="”noreferrer”"
              href="mailto:cet.sac.zairza@gmail.com"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/mail.png" alt=""
            /></a>
            <a
              rel="”noreferrer”"
              href="https://github.com/zairza-cetb"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/git.png" alt=""
            /></a>
            <a
              rel="”noreferrer”"
              href="https://www.instagram.com/zairza.cetb"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/insta.png" alt=""
            /></a>
            <a
              rel="”noreferrer”"
              href="https://twitter.com/zairza_cetb"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </nav>
      <section>
        <header
          class="navbar lg:flex lg:justify-between lg:items-center z-40 md:px-8"
        >
          <div
            class="flex justify-between items-center px-4 py-3 sm:p-0 w-full"
          >
            <div class="flex items-center justify-end w-full md:mt-0 mt-8">
              <div
                class="menu-container ml-20 flex items-center justify-center"
              >
                <div class="flex rounded-full flex-col justify-center">
                  <div class="relative rounded-full sm:max-w-xl mx-auto">
                    <nav x-data="{ open: false }">
                      <button
                        class="
                          w-10
                          h-10
                          relative
                          focus:outline-none
                          bg-white
                          rounded-full
                          menu-button
                        "
                        onclick="this.classList.toggle('opened'); toggleMenu()"
                        @click="open = !open"
                      >
                        <!-- <span class="sr-only">Open main menu</span> -->
                        <div
                          class="
                            block
                            w-5
                            absolute
                            left-1/2
                            top-1/2
                            transform
                            -translate-x-1/2 -translate-y-1/2
                          "
                        >
                          <span
                            aria-hidden="true"
                            class="
                              block
                              absolute
                              h-0.5
                              w-5
                              bg-current
                              transform
                              transition
                              duration-500
                              ease-in-out
                            "
                            :class="{'rotate-45': open,' -translate-y-1.5': !open }"
                          ></span>
                          <span
                            aria-hidden="true"
                            class="
                              block
                              absolute
                              h-0.5
                              w-5
                              bg-current
                              transform
                              transition
                              duration-500
                              ease-in-out
                            "
                            :class="{'opacity-0': open } "
                          ></span>
                          <span
                            aria-hidden="true"
                            class="
                              block
                              absolute
                              h-0.5
                              w-5
                              bg-current
                              transform
                              transition
                              duration-500
                              ease-in-out
                            "
                            :class="{'-rotate-45': open, ' translate-y-1.5': !open}"
                          ></span>
                        </div>
                      </button>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </section>

      <section
        class="
          flex
          w-full
          justify-between
          px-28
          md:px-12
          sm:px-6
          pt-9
          md:pb-12
          z-20
        "
      >
        <div class="pt-3 sm:pt-0 z-30">
          <img
            class="h-6 cursor-pointer"
            src="/images/Zairzalogo.webp"
            id="nav-logo"
          />
        </div>
        <% if(!data.loggedIn){ %>
        <div class="pt-3 sm:pt-0 mr-24 z-40 md:hidden">
          <a id="sign-in-btn" href="/auth#signin">Sign In</a>
        </div>
        <% } %>
      </section>
      <section
        class="
          flex
          flex-row
          md:flex-col
          items-start
          px:8
          mt-32
          text-center
          mx-32
          md:mx-16
        "
      >
      <div class="basis-1/2 mb-8">
        <h1 class="font-bold text-5xl leading-normal text-left">
          Lets Meet our Team
        </h1>
        </div>
        <div class="basis-1/2">
        <p
          class="
            font-normal
            leading-7
            text-lg
            tracking-wide
            text-justify
          "
        >
          Working as a team begins with knowing them. Our team is the secret to
          our success. Each of our members is amazing in their own right, but
          together they are what makes Zairza such a fun and rewarding place to
          work. The team is a tight-knit, talented group with a shared vision of
          delivering consistently great results, as well as ensuring the
          environment is a fun, inclusive, challenging place to work and develop
          a rewarding career.
        </p>
        </div>
      </section>
      <section class="teams-section my-32 mx-32 md:mx-16">
        <%data.team.forEach(function(item){ %>
        <div
          class="flex"
        >
          <div class="relative w-11/12 mx-auto rounded-lg info-card">
            <img
              src="<%=item.image %>"
              alt="team"
              loading="lazy"
              class="object-cover h-full w-full rounded-lg"
            />
            <div
              class="absolute h-24 w-full bottom-0 px-4 pt-4 info"
              style="
                border-radius: 0 0 0.5rem 0.5rem;
                background-color: #00255c;
              "
            >
              <p class="text-white text-lg"><%= item.name%></p>
              <div class="flex mt-2 items-center justify-between z-0">
                <p class="text-white text-sm"><%=item.position%></p>
                <div class="flex items-center">
                  <a
                    rel="”noreferrer”"
                    target="_blank"
                    href="<%=item.linkedin%>"
                  >
                    <img
                      class="pr-2"
                      src="/images/new-landing/linkedin.svg"
                      alt=""
                    />
                  </a>
                  <a href="mailto: <%=item.mail%>"
                    ><img src="/images/new-landing/team-mail.svg" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%} )%>
      </section>
    </main>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/js/script.js"></script>
  <script src="/js/dashboard.js"></script>
</html>
